@import url('preload_fonts.css');

@font-face {
    font-family: Poppins-Regular;
    src: url(../fonts/Poppins-Regular.woff2)
}

:root {
    --primary1: #067bc1;
    --primary2: #454545;
    --primary3: #ffffff;
    --primary4: #7bceff;
    --primary5: #0065a1;
  }
body {
    color: var(--primary3);
}
/* ---------------------------------
--------------------------------------------------
-------------------------------------------------------------------------- */
.border-bottom, .border-end {
    border-color: var(--primary5) !important;
}
.grid-container2 li, .grid-container3 li, 
.grid-container4 li {
    break-inside: avoid;
}
  
.grid-container2  {
    column-count: 2;
    column-gap: 10px;
}
.grid-container3  {
    column-count: 3;
    column-gap: 10px;
}
.grid-container4  {
    column-count: 4;
    column-gap: 10px;
}
.template-display::-webkit-scrollbar {
    width: 0.5em;
}
   
.template-display::-webkit-scrollbar-track {
    background-color: var(--primary5);
}
   
.template-display::-webkit-scrollbar-thumb {
    background: var(--primary3)
}

ul li {
    list-style: none;
}
p {
    font-family: "Poppins-Regular";
    color: var(--primary2);
    line-height: 22px;
}
.text-justify {
    text-align: justify;
    text-align-last: left;
    font-size: 18px;
    line-height: 27px;
}
header, .canvas-zoom, .left-menu-icon, .left-menu-container, .canvas-header {
    background-color: var(--primary1);
}
.left-menu-icon, .left-menu-container {
    /* if header added use this */
    /* height: calc(100vh - 58px); */
    /* else use this */
    height: 100vh;
}
.left-menu-container {
    width: 350px;
}

.template-display {
    height: 93%;
}

button {
    background: none;
    border: none;
    font-family: 'Poppins-Regular';
    color: var(--primary3) !important;
    font-size: 14px;
}
button span {
    display: inline-block;
    vertical-align: text-bottom;
    fill: var(--primary3);
}
#exTab1 .tab-content {
    color : var(--primary3);
    background-color: var(--primary5);
    padding : 5px 15px;
}
.template-display-input {
    background-color: transparent;
    border: none;
    color: var(--primary4);
}
.template-display-input:focus{
    outline: none;
}
.template-display-input::placeholder{
    color: var(--primary4);
}
.template-display-searchbar {
    background: var(--primary5);
}
.template-display-searchbar span svg {
    fill: var(--primary4);
}
.nav-link.active, .nav-link:hover, .create-text-btn:hover {
    background: var(--primary5) !important;
}
.left-menu-close {
    top: 45%;
    left: 99.5%;
    z-index: 9;
}
.canvas-area {
    width: inherit;
    background-color: #d2ebff;
}
.canvas-header {
    height: 5vh;
}
.drawing-area {
    height: 94vh;
}
.canvas-zoom {
    bottom: 1%;
    right: 45%;
}
.controls-dropdown {
    width: max-content;
    background: var(--primary1);
    top: 190%;
    z-index: 9;
    left: 0;
}
.active-btn {
    background-color: var(--primary5);
}

.controls-dropdown button {
    text-align: start;
}
#font-family, .text-font-size, #text-align, .select2-container--default .select2-selection--single, .select2-dropdown  {
    background-color: var(--primary5);
    border: none;
}
#text-font-size {
    background: none;
    border: none;
}
.select2-container--default .select2-selection--single .select2-selection__rendered {
    color: var(--primary3);
}
.select2-container--default .select2-selection--single .select2-selection__arrow b {
    border-color: var(--primary3) transparent transparent transparent;
}
.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b {
    border-color: transparent transparent var(--primary3) transparent;
}
.select2-container--default .select2-results__option--selected, .select2-container--default .select2-results__option--highlighted.select2-results__option--selectable  {
    background-color: var(--primary1);
    
}
.select2-results__option--selectable {
    word-break: break-word;
}
.uploaded-fonts {
    cursor: pointer;
    background-color: var(--primary5);
}
.bg_dark {
    background-color: var(--primary5) !important;
}

.input_slider {
    -webkit-appearance: none;
    width: 100%;
    height: 10px;
    border-radius: 5px;
    background: var(--primary5);
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }
  
  .input_slider:hover {
    opacity: 1;
  }
  
  .input_slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: var(--primary3);
    cursor: pointer;
  }
  
  .input_slider::-moz-range-thumb {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: var(--primary3);
    cursor: pointer;
  }

  input[type=checkbox] {
    position: relative;
      cursor: pointer;
}
  input[type=checkbox]:before {
    content: "";
    display: block;
    position: absolute;
    width: 20px;
    height: 20px;
    top: 0;
    left: 0;
    background-color:var(--primary5);
}
input[type=checkbox]:checked:before {
    content: "";
    display: block;
    position: absolute;
    width: 20px;
    height: 20px;
    top: 0;
    left: 0;
    background-color: var(--primary2);
}
input[type=checkbox]:checked:after {
    content: "";
    display: block;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    position: absolute;
    top: 4px;
    left: 7px;
}
.lower-canvas {
    background-color: var(--primary3);
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important;
}
.canvas-wrapper {
    border-top: 1px solid var(--primary5);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: inherit;
}
.add-canvas {
    bottom: 5%;
    right: 5%;
}
.remove-canvas{
    position: absolute;
    right:5%;
    top:5%;
    width:30px;
    height:30px;
    background: #eee;
    border:none;
    text-align:center;
  }
  .clone-canvas{
    position: absolute;
    right: 10%;
    top:5%;
    width:30px;
    height:30px;
    background: #eee;
    border:none;
    text-align:center;
  }
  .clone-canvas i, .remove-canvas i {
    color: var(--primary3);
  }
  #stage {
    overflow: auto;
    height: inherit;
    width: 100%;
  }
@media only screen and (max-width: 1800px) {
    .py-4 {
        padding-top: 1rem!important;
        padding-bottom: 1rem!important;
    }
}